<section>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form 
  autocomplete="off"
  novalidate
  [formGroup]="loginForm">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Password</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="postLoginData()"
      >
        Login
      </button>
      <p>Dont't have an account? <a routerLink="/register">Register</a></p>
    </mat-card>
  </form>
</section>
