@import "../utils.scss";
section {
  width: 95vw;
  height: 100%;


  form {
    width: 95vw;
    height: 100%;
    @include flexCenter;
    .login-card {
      @include flexCenter;
      width: 50%;
      height: 60%;
      .input {
        width: 75%;
      }
    }
  }
}


@media (max-width: 959px){
  section{
    form{
      justify-content: start;
      .login-card {
        margin-top: 8vh;
        width: 100%;
      }
    }

  }
}
