<section class="wrapper" *ngIf="singlePost | async as blog">
  <header>
    <h1>{{ blog.mainTitle }}</h1>
    <h3>{{ blog.mainSubtitle }}</h3>
    <img src="{{ blog.photo }}" alt="pic" />
  </header>
  <main *ngFor="let prgf of blog.paragraphs">
    <h3>{{ prgf.paragraph.title }}</h3>
    <p>{{ prgf.paragraph.text }}</p>
  </main>
  <div class="returnBtn">
    <button routerLink="/myposts" color="primary" mat-icon-button>
      <mat-icon>keyboard_return</mat-icon>Back
    </button>
  </div>
</section>
