@import "../utils.scss";

.wrapper {
  font-family: $mainFont;
  width: 100%;
  @include flexCenter;
  header {
    @include flexCenter;
    img {
      height: fit-content;
      width: 70%;
    }
  }

  main {
    width: 60vw;
  }
  .returnBtn {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 959px) {
  img {
    height: fit-content;
    width: 90%;
  }
}
