<section class="wrapper">
  <div class="creator">
    <mat-card class="creator-card">
      <mat-card-title>Upload Picture</mat-card-title>
      <input type="file" id="ugly-file-input" />
      <div id="input-desc">
        <mat-icon id="beauty-file-input">upload</mat-icon>
        <p>Upload Picture</p>
      </div>
      <div class="input-group">
        <mat-card-title>Create Title</mat-card-title>
        <mat-form-field class="input">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" type="text" />
        </mat-form-field>
        <button color="primary" mat-icon-button>
          <mat-icon>add</mat-icon> Add
        </button>
      </div>
      <div class="input-group">
        <mat-card-title>Create Subtitle</mat-card-title>
        <mat-form-field class="input">
          <mat-label>Subtitle</mat-label>
          <input matInput placeholder="Subtitle" type="text" />
        </mat-form-field>
        <button color="primary" mat-icon-button>
          <mat-icon>add</mat-icon> Add
        </button>
      </div>
      <div class="input-group">
        <mat-card-title>Create Paragraph</mat-card-title>
        <mat-form-field class="input">
          <mat-label>Paragraph</mat-label>
          <textarea
            matInput
            placeholder="Paragraph"
            type="text"
            rows="1"
          ></textarea>
        </mat-form-field>
        <button color="primary" mat-icon-button>
          <mat-icon>add</mat-icon> Add
        </button>
      </div>
    </mat-card>
  </div>
  <div class="preview">
    <mat-card class="preview-card">
      <mat-card-title>Preview</mat-card-title>
    </mat-card>
  </div>
</section>
