<section class="wrapper">
  <!-- Create Card -->
  <div>
    <form
      class="creator"
      autocomplete="off"
      novalidate
      [formGroup]="postBuilder"
    >
      <mat-card class="creator-card">
        <mat-card-title>Upload Picture</mat-card-title>

        <input
          type="file"
          id="ugly-file-input"
          (change)="onFileSelected($event)"
        />

        <div id="input-desc">
          <label for="ugly-file-input">
            <mat-icon id="beauty-file-input">upload</mat-icon>
            <p>Upload Picture</p>
          </label>
        </div>

        <div class="input-group">
          <mat-card-title>Create Main Title</mat-card-title>
          <mat-form-field class="input">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Main Title"
              type="text"
              formControlName="mainTitle"
            />
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-card-title>Create Main Subtitle</mat-card-title>
          <mat-form-field class="input">
            <mat-label>Subtitle</mat-label>
            <input
              matInput
              placeholder="Main Subtitle"
              type="text"
              formControlName="mainSubtitle"
            />
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-card-title>Create Text</mat-card-title>
          <mat-form-field class="input">
            <mat-label>Text</mat-label>
            <textarea
              matInput
              placeholder="Main Paragraph"
              type="text"
              rows="4"
              formControlName="mainText"
            ></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="createPost()">
          See Preview
        </button>
      </mat-card>
      <button mat-raised-button color="primary" (click)="sendNewPost()">
        Save
      </button>
    </form>
  </div>

  <!-- Preview Card -->
  <div class="preview">
    <mat-card class="preview-card">
      <mat-card-title>Preview</mat-card-title>
      <hr />
      <div class="preview-card-content" *ngFor="let element of postElements">
        <mat-card-title>{{ element.value.mainTitle }}</mat-card-title>
        <mat-card-subtitle>{{ element.value.mainSubtitle }}</mat-card-subtitle>
        <img mat-card-image src="{{ imgUrl }}" alt="pic" />
        <mat-card-content>
          <p>{{ element.value.mainText }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</section>
