@import '../utils.scss'; 

.header{
    text-align: center;
    font-family: $mainFont;
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.post-card {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 5vh;
    .card-content{
        text-align: center;
    }
  
  }

  @media (max-width: 959px) {
     .header{
         margin-top: 2vh;
     }
     .post-card{
         width: 98%;
     }
       
  }
